@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Rubik&display=swap");
html {
  scroll-behavior: smooth; }

body {
  background-color: #eeedea;
  font-family: 'Rubik', sans-derif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600; }

.anchor {
  margin-top: -70px;
  height: 70px; }

h1 {
  font-size: 1.5rem;
  margin-bottom: 0; }

p {
  font-size: 1rem; }

.card {
  border-radius: 0;
  border: none;
  background-color: transparent; }

.bg-mid {
  background-color: #92c0c6; }

.row {
  padding: 0; }

.carousel-top {
  margin-top: 100px; }

.carousel-caption {
  top: 34%; }
  .carousel-caption h1 {
    font-size: 5vw; }

#carouselIndicators li.active {
  background-color: #ff9955; }

.carousel-control-prev-icon a:hover {
  color: #ff9955; }

.fitFrame {
  max-width: 100%; }

.red {
  color: red; }

.form-area {
  padding: 20px 40px;
  margin: 10px 0px; }

.btn-primary {
  background-color: #ff9955; }

nav .logo-size, nav .navbar-brand {
  max-width: 250px; }

nav .navbar {
  background-color: #eeedea; }

nav .navbar-toggler-icon {
  color: #b2d2d8; }

nav a.nav-link {
  color: #b2d2d8; }

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: static;
  right: 0;
  top: 0;
  bottom: 0; }

.navTrigger i {
  background-color: #b2d2d8;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px; }

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards; }

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards; }

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards; }

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes inM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes outM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

.locationBox {
  background-color: #72afb6;
  height: 100%;
  max-width: 100%; }
  .locationBox p {
    font-size: 3vw; }
  .locationBox h1 {
    font-size: 5vw; }
  .locationBox .space {
    padding: 2rem; }

.meetBox {
  background-color: #b2d2d8;
  height: 100%;
  max-width: 100%; }
  .meetBox p {
    font-size: 3vw; }
  .meetBox h1 {
    font-size: 5vw; }

h5 {
  font-size: 3vw; }

.icon {
  width: 15%; }

.line {
  border-top: 2px solid #fff; }

footer .xray {
  background-image: url("/img/xray.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center; }

@media only screen and (min-width: 768px) {
  .meetBox p {
    font-size: 1.5vw; }
  .meetBox h1 {
    font-size: 3vw; }
  .meetBox .space {
    padding: 0; }
  .locationBox p {
    font-size: 1.5vw; }
  .locationBox h1 {
    font-size: 3vw; }
  h5 {
    font-size: 2vw; } }
