$linen: #eeedea;
$light: #b2d2d8;
$mid: #92c0c6;
$dark: #72afb6;
$peach: #ff9955;

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Rubik&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-color: $linen;
    font-family: 'Rubik', sans-derif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

.anchor {
  margin-top: -70px;
  height: 70px;
}

h1 {
  font-size: 3vw;
  margin-bottom: 0;
}

p {
  font-size: 1vw;
}

.card {
  border-radius: 0;
  border: none;
}

.bg-mid {
  background-color: $mid;
}

.row {
  padding:0;
}

.carousel-top {
    margin-top: 100px;
}

.carousel-caption {
  top: 34%;
  h1 {
    font-size:5vw;
  }
}

#carouselIndicators li.active {
  background-color: $peach;
}

.carousel-control-prev-icon a:hover {
  color: $peach;
}

.fitFrame {
  max-width:100%;
}

nav {
    .logo-size, .navbar-brand {
        max-width: 250px;
    }
    .navbar {
        background-color: $linen;
    }
    .navbar-toggler-icon {
        color: $light;
    }
    a.nav-link {
        color: $light;
    }
}

    .navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: static;
    //left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .navTrigger i {
    background-color: $light;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }
  .navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  .navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  .navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  .navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
  }
  .navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
  }
  .navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }
  @-webkit-keyframes inM {
    50% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }
  @keyframes inM {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  @-webkit-keyframes outM {
    50% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }
  @keyframes outM {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  @-webkit-keyframes inT {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  @keyframes inT {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(9px) rotate(0deg);
    }
    100% {
      transform: translateY(9px) rotate(135deg);
    }
  }
  @-webkit-keyframes outT {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  @keyframes outT {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(9px) rotate(0deg);
    }
    100% {
      transform: translateY(9px) rotate(135deg);
    }
  }
  @-webkit-keyframes inBtm {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  @keyframes inBtm {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-9px) rotate(0deg);
    }
    100% {
      transform: translateY(-9px) rotate(135deg);
    }
  }
  @-webkit-keyframes outBtm {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  @keyframes outBtm {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-9px) rotate(0deg);
    }
    100% {
      transform: translateY(-9px) rotate(135deg);
    }
  }

.locationBox {
  background-color: $dark;
  height: 100%;
  max-width: 100%;
      p {
        font-size:2vw;
      }
}

.meetBox {
  background-color: $light;
  height: 100%;
  max-width: 100%;
      p {
        font-size:1.2vw;
      }
}

.line {
  border-top: 2px solid #fff;
}

///////////////////////////////////////////////////Services Cards
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: $mid;
  color: #fff;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
  
footer {
  .xray {
    background-image: url("/img/xray.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }
}
  